service cloud.firestore {
  match /databases/{database}/documents {
    // Правила для всіх документів у колекціях
    match /{document=**} {
      // Дозволяємо читання та запис лише аутентифікованим користувачам
      allow read, write: if request.auth != null;
    }
  }
}
